#promo .expanded {
	width:650px;
	cursor:auto;
	}
	#promo .expanded .box-about {
		display:block;
		}
.expanded.investor,
#promo-investor.expanded {
	background-position:0 0;
	}
#promo .narrowed {
	width:164px;
	}
	.narrowed.newbie,
	#promo-newbie.narrowed {
		background-position: -138px -394px;
		}
	.narrowed.professional,
	#promo-professional.narrowed {
		background-position:-30px -197px;
		}
	.narrowed.investor,
	#promo-investor.narrowed {
		background-position:-120px 0;
		}