@import url(reset.css);
@import url(fonts.css);

/* @Layout
** Header
*/

BODY {
  background:#FFF;
  font:12px/18px Verdana, Helvetica, Arial, sans-serif;
  }
.header-wrapper {
  margin:0 0 18px;
  padding:32px 0 0;
  with:100%;
  background:#313131;
  }
  .header .title,
  .header .nav,
  .header .main-nav {
    margin:0 auto;
    width:980px;
    }

.header {
  position:relative;
  border-top:1px solid #D6D6D6;
  background:#FFF;
  }
  .header .title {
    
    line-height:76px;
    font-size:40px;
    font-family:'PT Sans Narrow';
    }
    .header .title IMG {
      float:left;
      display:inline;
      margin:8px 22px;
      }
  .header .nav-wrapper {
    position:absolute;
    top:-32px;
    width:100%;
    line-height:32px;
    }
    .header .nav {
      color:#FFF;
      text-align:right;
      }
    .header .nav A {
      padding:0 3px;
      color:#FFF;
      }
    .header .nav A:hover {
      background:#B51111;
      text-decoration:none;
      }
    .header .nav .forms {
      float:left;
      display:inline;
      margin:0;
      }
    .header .nav li {
      /*float:left;*/
      margin:0 0 0 20px;
      display:inline;
      }
  .header menu {
    line-height:36px;
    border-top:5px solid #313131;
    background:#CBCBCB;
    text-align:center;
    }
    .header .main-nav LI {
      display:inline;
      margin:0 40px 0 0;
      font-family:'PT Sans';
      font-size:15px;
      color:#313131;
      text-transform:uppercase;
      }
    .header .main-nav .item {
      color:#313131;
      }
    .header .main-nav .item:hover,
    .header .main-nav .here .item {
      color:#B51111;
      }
      
/* @Layout
** Content Main Page
*/
.content-wrapper {
  margin:0 0 30px;
  overflow:hidden;
}
.content {
	float:none;
  margin:0 auto;
  width:980px;
  clear:both;
  }
.content TIME {
    font-size:10px;
    color:#7D7D7D;
    }
  .content A,
  .aside A {
    color:#000;
    }  
  .content A:hover,
  .aside A:hover {
    color:#B51111;
    }
  .three-promo-box {
    margin:0 0 18px;
    width:980px;
    height:197px;
    }
    .newbie,
    .professional,
    .investor {
      position:relative;
      float:left;
      display:inline;
      width:326px;
      height:196px;
      background:url(images/promo.jpg) no-repeat -70px 0; /*Delete on production*/
      }
    .professional {
      border-right:1px solid #FFF;
      border-left:1px solid #FFF;
      background-position:0 -197px;
      }
    .newbie {
      background-position:0 -394px;
    }
    .three-promo-box HEADER {
      position:absolute;
      bottom:0;
      }
    .main .three-promo-box HEADER H2 {
      float:left;
      display:inline;
      margin:0;
      padding:0 6px;
      line-height:28px;
      font-family:'PT Sans Narrow';
      font-size:22px;
      background:#000;
	border:0;
      color:#FFF;
      opacity:.5;
      text-transform:uppercase;
      }
    .three-promo-box HEADER P {
      padding:2px 6px 14px;
      background:#000;
      color:#FFF;
      opacity:.7;
      clear:left;
      }
    .three-promo-box HEADER A {
      display:block;
      height:inherit;
      color:#FFF;
      text-decoration:none;
      }
	.three-promo-box .box-about {
		position:relative;
		left:378px;
		top:18px;
		display:none;
		width:222px;
		}
		.three-promo-box .box-about P {
			font-size:10px;
			}
		.three-promo-box .box-about SPAN {
			line-height:22px;
			background:#FFF;
			}
  .main .content H2,
  .sub .box H2 {
    float:left;
    display:inline;
    margin:0 0 14px;
    padding:0 0 2px;
    font-size:16px;
    border-bottom:4px solid #000;
    color:#000;
    }
 .main .content H2 A{
     text-decoration: none;
    }
  .box {float:left;display:inline;}
    .box HEADER {float:left;display:inline;width:100%;}
  .hr {margin:0 0 18px;width:100%;}
  .adv {
    width:980px;
    height:60px;
    background:url(images/adv.png) no-repeat 0 0;
    clear:both;
    }
  .about-us,
  .main .news {
    width:356px;
    height:240px;
    }
    .news LI {
      padding:2px 0 18px;
      }
  .awards {
    width:230px;
    height:240px;
    }

    .awards LI {
      float:left;
      display:inline;
      margin:4px 10px 0 0;
      width:104px;
      height:90px;
      line-height:10px;
      font-size:10px;
      text-align:center;
      }
  .promo-2 {
    
    }
    .promo-2 P {
      margin:0 0 18px;
      }
    .promo-2 .box HEADER {
      margin:12px 0 12px 12px;
      width:240px;
      }
    .promo-2 .box HEADER OL,
    .promo-2 .box HEADER P {
      font-size:10px;
      clear:left;
      }
    .promo-2 NAV {
      position:absolute;
      bottom:10px;
      right:0;
      padding:2px 4px 4px;
      background:#F3F3F3;
      }
    .withdraw UL {
      clear:left;
      border-top:5px solid #C0C0C0;
      border-bottom:5px solid #C0C0C0;
      height:44px;
    }
    .withdraw LI {
      display:inline;
      margin:0 0 0 -1px;
    }
    .learning,
    .partnership {
      position:relative;
      width:480px;
      height:200px;
      background:url(images/promo.2.jpg) no-repeat 0 0;
      }
    .partnership {
      float:right;
      background-position:0 -200px;
      }
      
/* @Layout
** Content Sub Page thin column
** Sub Page have class .sub
*/
.sub .content-wrapper {
  margin:0 auto;
  width:980px;
  
  }
.sub .aside {
  float:left;
  display:inline;
  margin:0 740px 0 0;
  width:240px;
  }
.aside .news TIME {
    font-size:10px;
    color:#7D7D7D;
    float:left;
    }
.aside .news LI A {
    display: block;
    margin-left: 35px;
  }
.sub .content {
  position:relative;
  float:left;
  display:inline;
  margin:0 -740px 0 260px;
  width:460px;
  }
  .sub .content HEADER {
    width:100%;
    overflow:hidden;
    }
  .sub .content .pagetitle {
    float:left;
    display:inline;
    margin:0 0 18px;
    padding:2px 0;
    line-height:36px;
    border-bottom:3px solid #000;
    font-family:'PT Sans';
    font-size:30px;
    }
  .sub .content H2{
    line-height:36px;
    font-size:18px;
    }
  .sub .content P {
    margin:0 0 18px;
    }
  .sub .content BLOCKQUOTE,
  .sub .content Q {
    font-style:italic;
    color:#828282;
    }
	.sub .content BLOCKQUOTE .author {
		text-align:right;
		}
  .sub .content STRONG,
  .sub .content B {font-weight:bold;}
  .sub .content TABLE {
    margin:0 0 18px 0;
	font-family:'Lucida Console', 'Monaco', monospace;
    }
  .sub .content .wide {
	margin-right:-260px;
	}
  .sub .content .wide-table {
	width:720px;
	}
    .sub .content THEAD {
      border-bottom:3px solid #000;
      }
    .sub .content THEAD TH {
        padding:6px 2px;
        font-weight:bold;
        }
	.sub .content TR:hover,
	.sub .content TR.hover {
		background:#EAEAEA;
		}
    .sub .content TD {
        padding:4px 2px;
        border-bottom:1px solid;
		vertical-align:middle;
		text-align:center;
        }
    .sub .content TH {
        background:#EAEAEA;
        }
  .sub .content UL,
  .sub .content OL {
    margin:18px 0 18px 36px;
    }
    .sub .content LI {
      list-style:outside;
      }
    .sub .content OL LI {
      list-style-type:decimal;
      }
/* @Content
** Numerous Right blocks
*/
.sub .content .screenshot {
	float:right;
	margin-right:-260px;
	width:240px;
	}

/* @Layuot
** Aside
*/
.aside {
  
  }
  .sub-nav {
    padding:8px 0;
    margin-bottom: 20px;
    }
    .sub-nav LI {
      line-height:32px;
      background:url(images/arrow.right.png) no-repeat right 50%;
      border-bottom:3px solid #000;
      text-transform:uppercase;
      }
    .sub-nav LI .item {
      display:block;
	text-decoration:none;
      }
    .sub-nav LI.here {
      background:url(images/arrow.bottom.png) no-repeat right 7px;
      }  
    .sub-nav LI.here .item {
      font-weight:bold;
      }
    .sub-nav UL {
      padding:10px 12px;
      background:#919191;
      }  
    .sub-nav LI LI {
	padding:2px 0;
      line-height:18px;
      background:none;
      border:none;
      text-transform:none;
      }
    .sub-nav LI.here LI {
      background:none;
      }
    .sub-nav LI.here LI .item {
      font-weight:normal;
      color:#FFF;
	text-decoration:underline;
      }
    .sub-nav LI.here LI .item:hover {
      text-decoration:none;
      }
    .sub-nav LI.here LI.here .item {
      font-weight:bold;
      text-decoration:none;
	}
    
/* @Layout
** Footer
*/
.footer-wrapper {
  background:#313131;
  }
.footer {
  color:#FFF;
  }
  .footer A {
    color:#FFF;
    }
  .footer A:hover {
    background:#B51111;
    text-decoration:none;
    }
  .footer .nav-wrapper {
    height:52px;
    line-height:52px;
    background:#6A6A6A;
    }
  .footer .nav-wrapper UL,
  .footer .copyright {
    margin:0 auto;
    width:980px;
    }
    .footer .nav-wrapper LI {
	  float:left;
	  display:inline;
      }
    .footer .nav-wrapper .community {
      float:right;
      }
    .footer .nav-wrapper A {
      padding:0 6px;
      line-height:20px;
      color:#FFF;
      }
      .footer .nav-wrapper A IMG {
        vertical-align:middle;
        }
    .footer .nav-wrapper A:hover {
      background:#B51111;
      text-decoration:none;
      }
    .footer .nav-wrapper .community A,
    .footer .nav-wrapper .community A:hover {
      text-decoration:none;
      background:none;
      }
    .footer .copyright {
      line-height:62px;
      }


/* @Content
** general
*/
.aleft {float:left; margin-right:20px;}
.aright {float:right; margin-left:20px;}

/* @Content
** Special offers
*/
.offers {
   overflow:hidden;
  }
.offers dt {
  font-family: 'PT Sans';
    font-size: 30px;
    line-height: 30px;
    clear: left;
    margin-bottom:10px;
  }

/* @Content
** Fund page
*/

.contacts,
.apps {
margin-bottom:20px;
}
.contacts dd {
  padding-left:20px;
}
.apps ol {
 clear: left;
}
.apps li {
    background:url(http://files.brocompany.com/images/pdf.png) no-repeat 0 0;
    line-height: 35px;
    margin-bottom: 4px;
    padding-left:40px;
 
}

/* @Content
** Payment ways page
*/
.sub .content .payment {
margin-right:-200px;
}

/* Demoreg Signup Errors */
span.error{
color: red;
}

/* @Content
** Trading platforms
*/
.platform-box {
	clear:right;
	margin:0 0 18px;
	}
	.content .platform-box H2 {
    	line-height:36px;
		/*font-weight:bold;*/ /*Temporary blocked*/
		border-bottom:3px solid #000;
	}
	.content .platform-box A {
		text-decoration:none;
	}
	.platform-box .small {
		float:right;
		display:inline;
		margin:-3px -260px 0 20px;
		width:240px;
	}
	.platform-box NAV {
		float:left;
		display:inline;
		width:100%;
		margin:0 0 18px;
		}
	.platform-box NAV A {
		float:left;
		display:inline;
		padding:5px 10px;
		border:1px solid #919191;
		border-radius:4px;
		-moz-border-radius:4px;
		-webkit-border-radius:4px;
	}

.sub .content .navigation-for-action-or-choice,
.sub .content .navigation-to-trading-platforms {
	margin:18px 0;
	width:720px;
	}
	.sub .content .navigation-for-action-or-choice > LI:first-child,
	.sub .content .navigation-to-trading-platforms > LI:first-child {
		margin:0;
	    }
	.sub .content .navigation-for-action-or-choice > LI:first-child A,
	.sub .content .navigation-to-trading-platforms > LI:first-child A {
		background:#B51111;
	    border-color:#B51111;
	    color:#FFF;
	    }
	.sub .content .navigation-for-action-or-choice LI+LI A,
	.sub .content .navigation-to-trading-platforms LI+LI A {
		background:#000;
	    border-color:#000;
	    color:#FFF;
	    }
	.sub .content .navigation-for-action-or-choice LI+LI+LI A,
	.sub .content .navigation-to-trading-platforms LI+LI+LI A {
		background:#555;
	    border-color:#555;
	    color:#FFF;
	    }
	.sub .content .navigation-for-action-or-choice LI+LI+LI+LI A,
	.sub .content .navigation-to-trading-platforms LI+LI+LI+LI A {
		background:#969696;
	    border-color:#969696;
	    color:#FFF;
	    }
	.sub .content .navigation-for-action-or-choice LI+LI+LI+LI+LI A,
	.sub .content .navigation-to-trading-platforms LI+LI+LI+LI+LI A {
		background:#FFF;
	    border-color:#000;
	    color:#000;
	    }
	.sub .content .navigation-for-action-or-choice LI,
	.sub .content .navigation-to-trading-platforms LI {
		float:left;
	    margin:0 0 18px 20px;
	    display:inline;
	    }
	.sub .content .navigation-for-action-or-choice A {
		padding:0 10px;
	    display:table-cell;
	    width:102px;
	    height:122px;
	    font-size:14px;
	    font-family:'PT Sans', Verdana, Helvetica, sans-serif;
	    text-align:center;
	    vertical-align:middle;
	    border:1px solid;
	    border-radius:61px;
	    -webkit-border-radius:61px;
	    -moz-border-radius:61px;
	    text-decoration:none;
	    }

	.sub .content .navigation-to-trading-platforms A {
		float:left;
	    display:inline;
	    padding:5px 10px;
	    border:1px solid;
	    border-radius:4px;
	    -moz-border-radius:4px;
	    -webkit-border-radius:4px;
	    text-decoration:none;
	    }
	.sub .content .navigation-for-action-or-choice A:hover,
	.sub .content .navigation-to-trading-platforms A:hover {
		box-shadow:#313131 0 0 6px 3px;
	    -webkit-box-shadow:#313131 0 0 6px 3px;
	    -moz-box-shadow:#313131 0 0 6px 3px;
	    -0-box-shadow:#313131 0 0 6px 3px;
	    }
	

/* @Content
** Trading contitions tabs
*/

.sub .content .conditions {
	position:relative; 
	overflow:hidden;
	}
	.sub .content .conditions DT {
		position:relative; 
		left:10px; 
		float:left; 
		display:inline; 
		margin-left:4px; 
		padding:15px 20px; 
		height:20px; 
		background:#EAEAEA; 
		text-align:center; 
		font-size:18px; 
		font-family: 'PT Sans'; 
		cursor:pointer;
		}
		.sub .content .conditions DT A {text-decoration:none;}
		.sub .content .conditions DT.selected {
			z-index:3; 
			cursor:auto; 
			padding-bottom:17px; 
			background:#FFF; 
			border:1px solid #000;
			}
		.sub .content .conditions DT.tab-bottom {clear:right; cursor:pointer;}
		.sub .content .conditions DT.tab-bottom.selected {
			z-index:5;
			margin-top:-3px;
			border-top:none;
			}
		.sub .content .conditions DT.top-item.selected {border-bottom:none;}
	.sub .content .conditions DD {
		position:relative;
		display:none;
		float:right;
		margin:50px 0 0 -100%;
		padding:20px 0 10px;
		z-index:2;
		width:100%;
		border-top:3px solid #000;
		border-bottom:3px solid #000;
		}
	.sub .content .conditions DD.selected {display:block;}
		.sub .content .conditions TD:first-child {background:#EBEBEB;}
		.sub .content .conditions TD {padding:10px; border-color:#A7A7A7;}
		.sub .content .conditions TH {background:#FFF;}
	.sub .content .conditions UL {margin:0;}
		.sub .content .conditions UL LI {list-style-type:none;}

/* @Content
** Personal Brokers Page
** Brokers vCards
*/
.brokers-vcards {
	
	}
	.brokers-vcards .vcard {
		float:left;
		margin:0 20px 18px 0;
		padding:0 0 0 10px;
		display:inline;
		width:210px;
		height:232px;
		background:#E5E5E5;
		}
		.brokers-vcards .vcard .fn {
			display:block;
			font-family:'PT Sans Narrow', Verdana, Helvetica, sans-serif;
			font-size:24px;
			line-height:36px;
			}
		.brokers-vcards .vcard .photo {
			float:left;
			margin:10px 10px 10px 0;
			display:inline;
			}

/* @Content
** News list
*/
.news-list LI {list-style-type:none;}
.page-list LI {display: inline;}